<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<section>
<div class="container text-center" th:if="${session.user1.role}=='ROLE_USER'">
<h1 class="text-warning mt-5 text-center"><b class="text-danger">Sorry,</b><br>You are User of this Company you can't add item<br>Please Login With Admin</h1>
</div>
<!-- ------------------------------------------------------------ USER Rakesh Yadav ------------------------------------------------------------- -->
<div class="container mt-1" th:if="${session.user1.cid}==6765">
 <div class="col-md-8 offset-md-3" style="background: teal;">
 <h1 class="text-center font-weight-bold" style="color: yellow;">ADD INVENTORY ITEM</h1>
<form action="/saveProduct" method="post">

   <div class="row">
    <div class="col-sm-7 mt-1">
      <label for="inputEmail4" class="text-uppercase font-weight-bold" style="color: yellow;">product name</label>
      <input type="text" class="form-control ml-2" name="name">
    </div>
    <div class="col-sm-5 mt-1">
      <label for="inputEmail4" class="text-uppercase font-weight-bold" style="color: yellow;">Product mrp(rs.)</label>
      <input type="text" class="form-control" name="mrp">
    </div>
  </div>
  <div class="form-group mt-3">
  <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Product id</label>
    <input type="number" class="form-control" name="productId">
  </div>
  <div class="form-group mt-3">
    <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Product purchasing date</label>
    <input type="date" class="form-control" name="purchaseDate">
  </div>
  <div class="form-group mt-3">
    <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Number of product quantity</label>
    <input type="number" class="form-control" name="quantity">
  </div>
  <div class="form-row mt-3">
   
    <div class="form-group col-md-12">
  <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Selling Price</label>
      <input type="text" class="form-control" name="sellingAmount">
    </div>
    
  </div>
 
  <div>
  <button type="submit" class="btn btn-primary col-md-12 text-uppercase bg-danger font-weight-bold mt-3">Sign in</button>
  </div>
</form>
</div>
</div>
<!-- ------------------------------------------------------USer Sach ---------------------------------------------------------------->

<div class="container mt-3" th:if="${session.user1.cid}==3545">
 <div class="col-md-5 offset-md-3" style="background: teal;">
 <h1 class="text-center font-weight-bold" style="color: yellow;">ADD INVENTORY ITEM</h1>
<form action="/saveProduct" method="post">

   <div class="row">
    <div class="col-sm-7 mt-1">
      <label for="inputEmail4" class="text-uppercase font-weight-bold" style="color: yellow;">product name</label>
      <input type="text" class="form-control ml-2" name="name">
    </div>
    <div class="col-sm-5 mt-1">
      <label for="inputEmail4" class="text-uppercase font-weight-bold" style="color: yellow;">Product mrp(rs.)</label>
      <input type="text" class="form-control" name="mrp">
    </div>
  </div>
  <div class="form-group mt-3">
  <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Product id</label>
    <input type="number" class="form-control" name="productId">
  </div>
  <div class="form-group mt-3">
    <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Product purchasing date</label>
    <input type="date" class="form-control" name="purchaseDate">
  </div>
  <div class="form-group mt-3">
    <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Number of product quantity</label>
    <input type="number" class="form-control" name="quantity">
  </div>
  <div class="form-row mt-3">
   
    <div class="form-group">
  <label for="inputPassword4" class="text-uppercase font-weight-bold" style="color: yellow;">Selling Price</label>
      <input type="text" class="form-control" name="sellingAmount">
    </div>
    
  </div>
 
  <div>
  <button type="submit" class="btn btn-primary col-md-12 text-uppercase bg-danger font-weight-bold mt-3">Sign in</button>
  </div>
</form>
</div>
</div>
</section>
</body>
</html>