<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-dark"> 

<section class="text-center">
<h1>ADMIN PROFILE</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">[[${user.name}]]</th>
      <td>[[${user.email}]]</td>
      <td>[[${user.mobile}]]</td>
      <td>[[${user.role}]]</td>
    </tr>
  </tbody>
</table>
<a href="/">
<button class="btn btn-danger col-md-1">Home</button></a>
</section>
</body>
</html>