<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-dark"> 
<section>
<div class="container ">
         <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="card">
                <div class="card-body">
                                <h4 class="text-center">Forgot Password</h4>
                                    <th:block th:if="${session.msg}">
                                      <p class="text-center text-success fs-5">[[${session.msg}]]</p>
                                     
                                 </th:block>
                    
                        <form action="load_forgot_password" class="form-signin" method="get" >
                                 <p>
                                      <label for="username" class="sr-only">UserEmail</label>
                                <input type="email" id="username" name="email" class="form-control" placeholder="Username" required autofocus>
                                 </p>
                                 <p>
                                     <label for="password" class="sr-only">UserMobile</label>
                                     <input type="text" id="password" name="mobile" class="form-control" placeholder="Mobile Number" required>
                                  </p>
                                  <button class="btn btn-primary col-md-12">Submit</button>
                          </form>
                </div>
              </div>
            </div>
         </div>
</div>
</section>
</body>
</html>